body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

h1 {
  font-family: "Coiny", system-ui;
}

button {
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  border: none; 
  padding: 5pt;
}