table{
  width: 40%;
  border-collapse: collapse;
  margin: auto;
}

th, td{
  border: 5px solid white;
  padding: 8px;
  text-align: center;
  min-width: 100px; /* Set a minimum width for cells */
  min-height: 40px; /* Set a minimum height for cells */
}

tr:nth-child(even) {
  background-color: #f2f2f2; 
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

th {
  background-color: #b1d8ef;
}