body{
  text-align: center;
  background-color: #0c85ad;
}


button{
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

h1{
  margin-top: 40px;
  /* transform: rotate(15deg); */
  font-family: "Arial", sans-serif;
  font-size: 40px;
}

video{
  margin-top: 20px;
}